<template>
  <section>
    <Titulo icono="people" titulo="Persona" />
    <CrudTable
    :dialog.sync="dialogIndex"
    :filters="filters"
    :columns="columns"
    :url="url"
    >
      <template v-slot:start-buttons>
        <q-btn label="AGREGAR" icon="add" color="primary" @click="crear()"></q-btn>
      </template>
      <template v-slot:form="props">
        <q-card style="width: 600px;max-width:90vw;">
          <q-toolbar class="q-pa-md">
            <q-icon name="people" size="md"/>
            <q-toolbar-title>
              Crear persona
            </q-toolbar-title>
            <q-btn
              flat
              round
              dense
              icon="close"
              @click="cancelar()"
            >
            </q-btn>
          </q-toolbar>
          <q-card-section>
            <q-form
              class="row q-col-gutter-md"
              @submit="guardar(props)"
            >
            <!-- xs, sm, md, lg, xl -->
              <q-input
                filled
                label="Nombres"
                class="col-xs-12 col-md-6"
                v-model="persona.nombres"
                :rules="[
                  v => !!v || 'El campo es requerido',
                  v => v.length > 2 || 'Debe tener mas de 2 caracteres'
                ]"
              />

                            <q-input
                filled
                label="Apellido paterno"
                class="col-xs-12 col-md-6"
                v-model="persona.apellidoPaterno"
                :rules="[
                  v => !!v || 'El campo es requerido',
                  v => v.length > 2 || 'Debe tener mas de 2 caracteres'
                ]"
              />

                            <q-input
                filled
                label="Apellido materno"
                class="col-xs-12 col-md-6"
                v-model="persona.apellidoMaterno"
                :rules="[
                  v => !!v || 'El campo es requerido',
                  v => v.length > 2 || 'Debe tener mas de 2 caracteres'
                ]"
              />
              <div class="col-xs-12 q-gutter-md" align="right">
                <q-btn label="cancelar" icon="close" @click="cancelar"/>
                <q-btn type="submit" label="guardar" color="primary" icon="save"/>
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </template>
      <template v-slot:row="props">
        <q-tr>
          <q-td class="q-gutter-sm">
            <q-btn
              color="warning"
              icon="edit"
              round
              size="sm"
              @click="editar(props.row)"
            />
            <q-btn
              color="negative"
              icon="delete_forever"
              round
              size="sm"
              @click="eliminar(props, props.row.id)"
            />
          </q-td>
          <q-td>{{ props.row.nombres }}</q-td>
          <q-td>{{ props.row.apellidoPaterno }}</q-td>
          <q-td>{{ props.row.apellidoMaterno }}</q-td>
          <!-- <q-td>
            <Estado :estado="props.row.estado"/>
          </q-td> -->
        </q-tr>
      </template>
    </CrudTable>
  </section>
</template>

<script>
import CrudTable from 'components/CrudTable'

const filters = [
  {
    label: 'Nombre',
    field: 'nombre',
    type: 'input'
  },
  {
    label: 'Apellido',
    field: 'apellido',
    type: 'input'
  },
  {
    label: 'Cargo',
    field: 'cargo',
    type: 'input'
  },
  {
    label: 'Estado',
    field: 'estado',
    type: 'select',
    options: [
      {
        label: 'ACTIVO',
        value: 'ACTIVO'
      },
      {
        label: 'INACTIVO',
        value: 'INACTIVO'
      }
    ]
  }
]

const columns = [
  {
    label: 'Acciones',
    name: 'acciones',
    sortable: true
  },
  {
    label: 'Nombres',
    name: 'nombres',
    sortable: true
  },
  {
    label: 'Apellido paterno',
    name: 'apellidoPaterno',
    sortable: false
  },
  {
    label: 'Apellido materno',
    name: 'apellidoMaterno',
    sortable: false
  }
]

export default {
  components: {
    CrudTable
  },
  name: 'PageIndex',
  data () {
    return {
      url: '/usuario',
      filters,
      columns,
      dialogIndex: false,
      dialogIndex1: false,
      nombreIndex: '',
      persona: {
        id: null,
        nombres: '',
        apellidoPaterno: '',
        apellidoMaterno: ''
      }
    }
  },
  mounted () {
  },
  methods: {
    resetForm () {
      this.persona = {
        id: null,
        nombres: '',
        apellidoPaterno: '',
        apellidoMaterno: ''
      }
    },
    async guardar (props) {
      try {
        if (this.persona.id) {
          await this.$axios.put(this.url, this.persona)
          this.$alert.success('Usuario actualizado correctamente.')
        } else {
          await this.$axios.post(this.url, this.persona)
          this.$alert.success('Usuario registrado correctamente.')
        }
        props.updateList()
        this.closeDialog()
      } catch (error) {
        this.$alert.error(error.message)
      }
    },
    crear () {
      this.resetForm()
      this.openDialog()
    },
    cancelar () {
      this.resetForm()
      this.closeDialog()
    },
    async editar (persona) {
      this.persona = {
        id: persona.id,
        nombres: persona.nombres,
        apellidoPaterno: persona.apellidoPaterno,
        apellidoMaterno: persona.apellidoMaterno
      }
      this.openDialog()
    },
    async eliminar (props, id) {
      props.eliminar({ url: this.url, id })
    },
    openDialog () {
      this.dialogIndex = true
    },
    closeDialog () {
      this.dialogIndex = false
    }
  }
}
</script>
