<template>
  <section class="column">
    <q-card class="col self-center">
      <q-card-section>
        <span class="text-primary text-bold text-h6">Ingresar como usuario</span>
      </q-card-section>
      <q-card-section>
        <q-form
          @submit="login"
          class="row q-col-gutter-md"
        >
          <q-input
            filled
            label="Usuario"
            v-model="usuario.usuario"
            class="col-xs-12"
          />
          <q-input
            filled
            label="Contraseña"
            v-model="usuario.contrasena"
            class="col-xs-12"
          />

          <div class="col-xs-12">
            <q-btn type="submit" color="primary" label="Ingresar" class="full-width"></q-btn>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </section>
</template>
<script>
export default {
  data () {
    return {
      usuario: {
        usuario: '',
        contrasena: ''
      }
    }
  },
  methods: {
    async login () {
      const { usuario, rol, menu } = await this.$axios.post('/login', this.usuario)
      this.$storage.set('usuario', usuario)
      this.$storage.set('rol', rol)
      this.$storage.set('menu', menu)
      this.$router.push({ path: '/app' })
      console.log(this.usuario)
    }
  }
}
</script>
