<template>
  <section class="row">
    <q-dialog v-model="dialogComputed" persistent>
      <slot name="form"
        :updateList="updateList"
      ></slot>
    </q-dialog>
    <div class="col-xs-12">
      <q-card class="q-ma-md">
        <q-toolbar inset class="q-gutter-md q-pa-md">
          <slot name="start-buttons"></slot>
          <q-btn class="q-ml-sm" icon="search" @click="toggleSearch"></q-btn>
          <q-btn class="q-ml-sm" icon="refresh" @click="getData({ pagination, filter: search })" ></q-btn>
          <slot name="end-buttons"></slot>
        </q-toolbar>
        <q-card-section>
          <q-table flat :data="registros" :columns="columns" rows-per-page-label="Filas por pagina"
            :rows-per-page-options="[10, 25, 50, 100, 200]"
            :pagination.sync="pagination"
            @request="getData"
            >
            <template v-slot:top v-if="enableSearch" class="full-width">
              <div class="row q-col-gutter-xs no-padding full-width">
                <div v-for="(filtro, index) of filters" :key="index" align="center" class="col-row"
                  style="min-width:180px;">
                  <q-input v-if="filtro.type === 'input'" :label="filtro.label" clearable outlined dense
                    v-model="search[filtro.field]" />
                  <q-select v-if="filtro.type === 'select'" :label="filtro.label" clearable outlined dense emit-value
                    map-options behavior="menu" :options="filtro.options" v-model="search[filtro.field]" />
                </div>
              </div>
            </template>
            <template v-slot:body="props">
              <slot name="row" :row="props.row"
              :updateList="updateList"
              :eliminar="eliminar"
              ></slot>
            </template>
          </q-table>
        </q-card-section>
      </q-card>
    </div>
  </section>
</template>
<script>

export default {
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    filters: {
      type: Array,
      default: () => []
    },
    columns: {
      type: Array,
      default: () => []
    },
    url: {
      type: String,
      default: ''
    },
    order: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      enableSearch: false,
      search: {},
      registros: [],
      pagination: {
        sortBy: '',
        descending: true,
        page: 1,
        rowsPerPage: 10,
        rowsNumber: 0
      }
    }
  },
  async mounted () {
    await this.getData({
      pagination: this.pagination,
      filter: undefined
    })
  },
  watch: {
    search: {
      handler (value) {
        this.getData({
          pagination: this.pagination,
          filter: undefined
        })
      },
      deep: true
    }
  },
  methods: {
    async updateList () {
      await this.getData({
        pagination: this.pagination,
        filter: undefined
      })
    },
    async getData (props) {
      const { page, rowsPerPage, sortBy, descending } = props.pagination
      const query = {
        limit: rowsPerPage === 0 ? 99999 : rowsPerPage,
        page: page
      }
      // order=nombre  Ordenar de manera ASCENDENTE
      // order=-nombre  Ordenar de manera DESCENDENTE
      if (sortBy) {
        query.order = (descending ? '-' : '') + sortBy
      }

      if (Object.keys(this.search).length) {
        for (const key in this.search) {
          if (this.search[key]) {
            if (this.search[key].toString().length > 0) {
              query[key] = this.search[key]
            }
          }
        }
      }

      const { count, rows } = await this.$axios.list(this.url, query)
      this.registros = rows
      this.pagination = props.pagination
      this.pagination.rowsNumber = count
    },
    getUrl (url, query) {
      let string = []
      for (const key in query) {
        string.push(`${key}=${query[key]}`)
      }
      string = string.join('&')

      string = url.includes('?') ? `&${string}` : string = `?${string}`
      const urlFinal = `${url}${string}`
      return urlFinal
    },
    openDialog () {
      this.dialogComputed = true
    },
    closeDialog () {
      this.dialogComputed = false
    },
    toggleSearch () {
      this.enableSearch = !this.enableSearch
      this.search = {}
    },
    async eliminar ({ titulo, mensaje, aceptar, cancelar, url, id }) {
      try {
        this.$q.dialog({
          title: titulo || 'Confirmacion',
          message: mensaje || 'Esta seguro de que quiere eliminar este registro?',
          persistent: true,
          ok: {
            color: 'primary',
            label: 'Aceptar'
          },
          cancel: {
            color: 'white',
            'text-color': 'primary',
            label: 'Cancelar'
          }
        }).onOk(async () => {
          if (aceptar) {
            await aceptar()
          } else {
            await this.$axios.delete(url, id)
          }
          this.updateList()
          this.closeDialog()
        })
      } catch (error) {

      }
    }
  },
  computed: {
    dialogComputed: {
      get () {
        return this.dialog
      },
      set (value) {
        this.$emit('update:dialog', value)
      }
    }
  }
}
</script>
