<template>
  <section>
    {{ nombreCompleto }}
  </section>
</template>
<script>
export default {
  props: {
    nombreCompleto: {
      type: String,
      default: 'SIN NOMBRE'
    }
  },
  data () {
    return {
    }
  }
}
</script>
