<template>
  <section
    class="col-xs-12"
    style="margin-bottom: -130px;"
  >
  <div class="bg-primary text-white">
    <q-toolbar
      class="q-gutter-md q-pl-lg"
      style="height: 220px;"
    >
    <q-toolbar-title style="margin-top: -100px;">
      <p class="text-h5">
        <q-icon :name="icono" size="md" style="margin-top: -7px;" />
        {{ titulo }}
      </p>
    </q-toolbar-title>
    </q-toolbar>
  </div>
  </section>
</template>
<script>
export default {
  props: {
    icono: {
      type: String,
      default: ''
    },
    titulo: {
      type: String,
      default: ''
    }
  }
}
</script>
